.content .utilmessage{
    width: 60%;
}
.content .utilmessage .utilmessage-content{
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 5px;
}
.content .utilmessage .utilmessage-content .main-content{
    display: inline-block;
    font-size: 14px;
    padding: 20px 10px;
}
.content .message .issueTime{
    display: block;
}
/* 留言部分 */
.leaveMessage{
    width: 100%;
}
.leaveMessage .utilMessage{
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 14px;
    color: rgb(99, 99, 99);
    display: block;
}
.leaveMessage .message{
    width: 100%;
    background: rgb(201, 234, 255);
    border: 1px dashed rgb(29, 157, 232);
    border-radius: 5px;
    margin-bottom: 10px;
}
.leaveMessage .message .issueTime{
    font-size: 12px;
    display:inline-block;
    color: rgb(26, 119, 173);
}
.leaveMessage .message .messageContent{
    display: block;
}
/* 提交评论 */
.comments{
    background: #eee;
    margin-top: 20px;
    width:100%;
    padding: 15px 10px;
    box-sizing: border-box;
}
.comments div{
    display: block;
    padding: 10px 0px;
}
.comments #comment_username,#comment_email,#comment_code{
    padding: 6px;
    width: 240px;
    border-radius: 5px;
    border:1px solid #888888
}
.comments #comment_content{
    border-radius: 5px;
}
.comments .commit{
    width: 100px;
    height: 30px;
    background: #bbb;
    border: 1px solid #999;
    border-radius: 5px;
}
.comments .commit:hover{
    background: #888888;
    color: #fff;
}